*{
	list-style-type:none;
	font-size:1.1em;
}
.main-nav ul li a{
	text-decoration:none;
	margin:10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	color:#ccc;
}
ul li a:hover
{
	text-decoration:underline;
}
.sub-nav-list{
	position:relative;
	font-size:0.7em;
	font-weight:lighter;
	display:none;
}
ul li:hover ul{
	display:block;
}
a, a:visited {
    text-decoration:none;
    color:#000;
}


