body{
	font-family: times-new-roman, sans-serif;
	color:#ccc;
	font-size:13pt;
	}
#block{

	margin: 10pt;
	background-color:#999; 
	width: 350pt;
	}
th{
	width:100pt;
	font-size:19pt;
	text-align:left;
	padding:4pt;
	font-weight:normal;
	}
td:first-of-type{
	color:white;
	font-style:italic;
	font-family:arial;
	width:110pt;
	}
td{
	height:23pt;
	vertical-align:bottom;
	}
#red{
	color:#ff0000;
	vertical-align:top;
	}
#brown{
	color:#ff9933;
	}
a:link
{
	color: #ffff99;
	text-decoration: none;
}
a:visited
{
	color: #ffff99;
	text-decoration: none;
}

	